html, body {
  margin: 0px;
  width: 100%;
  height: auto;
  background-color: blue;
}

header  {
  display: flex;
  flex-direction: column;
}

nav {
  position: fixed;
  width: 100%;
  background-color: #1f325c;
  height: 50px;
  box-shadow: 0px 1px 5px #444;
  z-index: 100000;  /* Jeg lavede denne rettelse, så navbaren altid er øverst - Oliver */
}

.logo {
  display: flex;
  position: fixed;
  margin-left: 20px;
  align-items: center;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  justify-content: center;
}

li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: ebrima;
}

li a:hover {
  color: #fce000;
  transition: 0.5s ease;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.info-header {
  height: 100vh;
  background: #fff;
  background-image: url("custom1.jpg");
  background-size: cover;
}

.parkandbikelogo  {
  display: block;
    margin-top: 30vh;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;

}

h2 {
  display: flex;
  color: #fff;
  font-family: ebrima;
  font-size: 40px;
  justify-content: center;
  margin-top: 0;

}

.info {
  height: 70vh;
  width: 100%;
  background: red;
}

p {
  text-align: center;
  font-size: 100px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: green;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  margin-top: auto;
  height: 30vh;
  width: 100%;
}

/* Oliver Start */

.info3 {
  height: 60vh;
  width: 100%;
  background-color: #fce000;
}

.info3 p {
  text-align: right;
  left: 0;
  color: #1f325c;
  width: 100%;
  font-size: 100px;
  position: absolute;
}

#box3 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: inherit;
  width: 100%;
  background-color: #1f325c;
  z-index:5;

}

#box4 {
  margin-right: 50vw;
}

#box4 img {
  height: 50vh;

}

.animate {
          animation: animate 1s ease-in-out forwards;
}

@keyframes animate {
  from {
    opacity: 1;
    transform: translate3d(0vw, 0px, 0px);
  }
  to {
    opacity: 1;
    transition: all 1500ms linear;
    transform: translate3d(-50vw, 0px, 0px);
  }
}

@media screen and (max-width: 1450px) {
  #box4 {
    margin-right: 50vw;
  }

  #box4 img {
    height: 40vh;

  }
}

@media screen and (max-width: 1200px) {
  #box4 {
    margin-right: 150vw;
  }

  #box4 img {
    height: 40vh;

  }
}

@media screen and (max-width: 400px) {
  #box4 {
    margin-right: 162.5vw;
  }

  #box4 img {
    height: 40vh;

  }
}


/* Oliver Slut */

/* Emma Start */
.info4{
  height: 70vh;
  width: 100%;
  background: #ffffff;
}

.info5{
  height: 70vh;
  width: 100%;
  background: #ffffff;
}

.info6{
  height: 70vh;
  width: 100%;
  background: #ffffff;
}

.info7{
  height: 70vh;
  width: 100%;
  background: #ffffff;
}
/* Kontaktformular */

#myform{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: ebrima;
}

.kontakt-wrapper{
  position: absolute;
  top: 20%;
  left: 20%;
  max-width: 350px;
  width: 100%;
  background: #fff;
  padding: 25px;
  border-radius: 5px;
}

.kontakt-wrapper h2{
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: ebrima;
}

.kontakt-wrapper .input_field{
  margin-bottom: 10px;
}

.kontakt-wrapper .input_field input[type="text"],
.kontakt-wrapper textarea{
  width: 100%;
  border: 1px solid #e0e0e0;
  padding: 10px;
}

.kontakt-wrapper textarea{
  height: 80px;
  resize: none;
}

.kontakt-wrapper .btn input[type="submit"]{
  border: none;
  margin-top: 15px;
  padding: 10px;
  width: 100%;
  background: #fece0c;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
}

.kontakt-wrapper #error_message{
  margin-bottom: 20px;
  padding: 0px;
  background: #fe8b8e;
  text-align: center;
  font-size: 14px;
  transition: all 0.5s ease;
}
