html, body {
  margin: 0px;
  width: 100%;
  height: auto;
  background-color: #ffffff;
  overflow-x: hidden;
  font-family: ebrima;
}

header  {
  display: flex;
  flex-direction: column;
}

nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f325c;
  height: 6vh;
  box-shadow: 0px 1px 5px #444;
  font-family: ebrima;
  z-index: 100000;
}

.scrolldownarrow {
  display: flex;
  width: 40px;
  height: auto;
  margin-top: 100px;
  align-items: center;
  margin-left: 50%;
}

.banner {
  background-image: url(images/parkandbike2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
}

.logo {
  display: flex;
  position: fixed;
  margin-left: 20px;
  left: 0px;
}

.nav-link {
  display: flex;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  justify-content: center;
  justify-content: space-around;
  width: 30%;
}

nav li {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.nav-link a {
  color: #fff;
  text-decoration: none;
  font-family: ebrima;
}

li a:hover {
  color: #fce000;
  transition: 0.5s ease;
}

/* Burger menu */

.burger {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}

.burger {
  display: none;
}

.burger div {
  background-color: #fff;
  width: 25px;
  height: 3px;
  margin: 5px;
}

@media screen and (max-width:768px){
  body {
    overflow-x: hidden;
  }

  .nav-link{
    position: absolute;
    right: 0px;
    height: 95vh;
    top: 5vh;
    background-color: #1f325c;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
<<<<<<< HEAD
    z-index: 100000;
=======
    z-index: 1000;
  }
  .nav-link li{
    opacity: 1;
  }
  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* IKKE SLET!!!!*/
.banner {
  height: 100vh;
  background: #fff;
  background-image: url("images/parkandbike2.jpg");
  background-size: cover;
}

.parkandbikelogo  {
  display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    margin-bottom: 0;
    margin-top: 160px;

}

h2 {
  display: flex;
  color: #fff;
  font-family: ebrima;
  font-size: 40px;
  justify-content: center;
  margin-top: 0;
}

@media screen and (max-width:768px){
  h2 {
    font-size: 20px;
  }
}

.info {
  height: 70vh;
  width: 100%;
  background: red;
}

p {
  text-align: center;
  font-size: 100px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: green;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  margin-top: auto;
  height: 30vh;
  width: 100%;
}

/* Emma og Laura Start */
.info4{
  height: 70vh;
  width: 100%;
  background: #ffffff;
}

#baggrund{

  background-image: url("images/baggrund.png");
  height: 1200px;
  background-size: cover;
  width: 100%;
  position: absolute;
  background-color: #ffffff;
}

.infoom{
  background: white;
  width: 100%;
  height: 200px;
  padding-top: 120px;

}



.infoom p{
  font-size: 25px;
  color: black;
  font-family: ebrima;
  text-align: center;
}

div#peekaboo5{
    position:fixed;
    bottom:30px;
    right:0px;
  background-image: url("images/hejhej.png");
    padding:25px;
    width:500px;
    height:400px;
}

div#peekaboo5 p{
  font-size: 25px;
  text-align: center;
  padding-right: 80px;
  color: black;
  font-family: ebrima;
}

.peekabookasse{
  height:1600px;
  font-size: 18px;
  margin-bottom: -350px;
}



.info5{
  padding: 0;
  margin: 0;
  font-family: ebrima;
  color: white;

}

.dropdowntext5{
  text-align: center;
  position: absolute;
  left: 50;
  width: 100%;
  color: black;
  font-size: 25px;

}



.stortext5{
  color: black;
  text-transform: uppercase;
  display: block;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 8px;
  margin-bottom: 20px;
  background: white;
  position: relative;
  animation: text 8s 1;



}

.lilletext5{
  font-size: 25px;
color: #000000;

}

@keyframes text{
  0%{
    color: white;
    margin-bottom: -40px;
  }
  30%{
    letter-spacing: 15px;
    margin-bottom: -40px;
  }
  85%{
    letter-spacing: 8px;
    margin-bottom: 18px;

  }
}

.overskrift{
  margin-top: 1200px;
  margin-bottom: -50px;
  font-size: 30px;
  color: #ffffff;
  text-align: center;
  background-color: #1f325c;
  border: 400px;
}



.grid-container5 {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  background-color: #1f325c;
  padding: 10px;
  margin-top: 50px;
  margin-bottom: -1000px;

}

.grid-container5 div{
  background-color: rgba(255, 255, 255, 0.8);
 text-align: center;
 padding: 20px 0;
 font-size: 30px;
 background-color: #1f325c;

}

.pros {
  grid-column-start: 1/2;
 grid-column-end: 2;
}

.pros p{
  font-size: 25px;
  color: #ffffff;
}

.cons {
  grid-column-start: 2;
 grid-column-end: 2;
}

.cons p{
  font-size: 25px;
  color: #ffffff;
}

/* her slutter laura*/

.info6{
  height: 70vh;
  width: 100%;
  background: #ffffff;
}

.info7{
  height: 70vh;
  width: 100%;
  background: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
}

/* Kontaktundersiden */

#myform{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: ebrima;
}

.kontakt-wrapper{
  position: absolute;
  top: 15%;
  left: 20%;
  max-width: 350px;
  width: 100%;
  background: #fff;
  padding: 25px;
  border-radius: 5px;
}

.kontakt-wrapper h2{
  text-align: center;
  margin-bottom: 25px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: ebrima;
  color: #000000;
  font-size: 24px;
}

.kontakt-wrapper .input_field{
  margin-bottom: 10px;
}

.kontakt-wrapper .input_field input[type="text"],
.kontakt-wrapper textarea{
  width: 94%;
  border: 1px solid #e0e0e0;
  padding: 10px;
}

.kontakt-wrapper textarea{
  height: 80px;
  resize: none;
}

.kontakt-wrapper .kon-btn input[type="submit"]{
  border: none;
  margin-top: 15px;
  padding: 10px;
  width: 100%;
  background: #fece0c;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold;
  cursor: pointer;
}

.kontakt-wrapper #error_message{
  margin-bottom: 20px;
  padding: 0px;
  background: #fe8b8e;
  text-align: center;
  font-size: 14px;
  transition: all 0.5s ease;
}

.mobil{

  margin-right: 200px;
  margin-top: -370px;
}

.mobilkort{
  height: auto;
  width: 100%;
  max-width: 210px;
}

.info-box2{
  width: 420px;
  height: 350px;
  background-color: #1f325c;
  border-radius: 10px;
  left: 55%;
  margin-top: 150px;
  position: absolute;
}

.info-box2 span{
  color: #fece0c;
}

.info-box2 p{
  font-size: 18px;
  margin-left: 200px;
  text-align: center;
  color: #ffffff;
  margin-top: 30px;
}

.banner2{
  height: 100vh;
  background: #fff;
  background-image: url("images/parkandbike2.jpg");
  background-size: cover;
}

.kontaktoplysninger{
  width: 500px;
  height: 170px;
  background-color: #1f325c;
  margin-top: -15%;
  left: 50%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.kontaktoplysninger h3{
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  padding: 20px;
  padding-bottom: 5px;
}

.kontaktoplysninger h3 span{
  color: #fece0c;
}

.kontaktoplysninger p{
  font-size: 1rem;
  color: #ffffff;
}

.kontaktoplysninger p span{
  color: #fece0c;
  font-weight: bold;
}

section{
  background-color: #1f325c;
  width: 100%;
  height: 100px;
  margin-top: -20px;
}

@media(max-width: 1200px){
  .info-box2{

  }
  .kontakt-wrapper{
    left: 10%;
  }
}

@media(max-width: 1000px){
  .info-box2{
    display: none;
  }
  .kontakt-wrapper{
    left: 25%;
  }
  .kontaktoplysninger{
    margin-top: -200px;
  }
}

@media(max-width: 768px){
  .kontakt-wrapper{
    left: 20%;
  }
}

@media(max-width: 650px){
  .kontakt-wrapper{
    left: 15%;
  }
}
/* Step by Step */
.tekststep p{
  font-size: 25px;
  text-align: center;
  padding-top: 40px;
}

.step1 p{
  font-size: 25px;
  padding-top: 130px;
  text-align: center;
}

.step2 p{
  font-size: 25px;
  padding-top: 130px;
  text-align: center;
}

.step3 p{
  font-size: 25px;
  padding-top: 130px;
  text-align: center;
}

.step4 p{
  font-size: 25px;
  padding-top: 130px;
  text-align: center;
}

.step2 p{
  font-size: 25px;
  padding-top: 130px;
  text-align: center;
}

.step3 p{
  font-size: 25px;
  padding-top: 130px;
  text-align: center;
}

.step4 p{
  font-size: 25px;
  padding-top: 130px;
  text-align: center;
}

.stepoverskrift h3{
  text-align: center;
  font-size: 30px;
  padding-top: 50px;
}

.grid-container{
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  padding: 10px;
}

.grid-container > div{
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.step1{
  grid-column-start: 1 / 2;
  grid-column-end: 1;
}

.imgborgerservice{
  grid-column-start: 2;
  grid-column-end: 2;
}

.imgchip{
  grid-column-start: 1/2;
  grid-column-end: 1;
}

.step2{
  grid-column-start: 2;
  grid-column-end: 2;
}
.step3{
  grid-column-start: 1/2;
  grid-column-end: 1;
}
.imgparkering{
  grid-column-start: 2;
  grid-column-end: 2;
}

.imgdamecykel{
  grid-column-start: 1/2;
  grid-column-end: 1;
}
.step4{
  grid-column-start: 2;
  grid-column-end: 2;

}
/* Step by Step slut*/

/* Prisen Animation */

.pris_info_box {
  display: block;
  background-color: #fce000;
  height: 70vh;
  width: 100%;
}

#box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: inherit;
  width: 100%;
  background-color: #1f325c;
  position: absolute;
}

#slider {
  margin-right: 430vw;
}

#slider img {
  height: 50vh;
  position: relative;

}

.animate {
  animation: animate 1s ease-in-out forwards;
}

.text_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  font-family: sans-serif;
  color: #1f325c;
  margin: 0px 5vh;
}

.titel {
  margin: 0vw 30vw;
}

.titel h3 {
   font-size: 2rem;
   border-bottom: 5px solid #1f325c;
   margin-top: 12vh;
}

.tal_box{
  display: block;
  text-align: center;
}

.pris {
   font-size: 1.2rem;
   font-family: sans-serif;
   margin-left: 15px;
}


.kroner {
   font-size: 8rem;
}

.gratis {
   text-align: center;
   font-size: 0.8rem;
   font-family: sans-serif;
}

.knap {
  padding: 5vh;
}

.btn {
    font-family: sans-serif;
    font-size: 100%;
    font-weight: bold;
    color: whitesmoke;
    text-transform: uppercase;
    text-decoration: none;
    border: solid #1f325c 2px;
    background-color: #1f325c;
    padding: 5px 40px;
}

@keyframes animate {
  from {
    opacity: 1;
    transform: translate3d(0vw, 0px, 0px);
  }
  to {
    opacity: 1;
    transition: all 1500ms linear;
    transform: translate3d(-100vw, 0px, 0px);
  }
}

/* IPhone X */
@media screen and (min-height: 811px) {
  #slider img {
    height: 41vh;

  }
}

/* Pixel 2XL */
@media screen and (min-height: 822px) {
  #slider img {
    height: 44.25vh;

  }
}

/* Ipad */
@media screen and (min-width: 768px) and (min-height: 1024px) {
  #slider img {
    height: 50vh;
  }
  #slider {
    margin-right: 325%;
  }
}

@media screen and (min-width: 767px) {
  #slider img {
    height: 50vh;
  }
  #slider {
    margin-right: 200%;
  }

  .gratis {
     font-size: 1rem;
     padding: 0px 110px;
  }

}

@media screen and (min-width: 1200px) {
  #slider img {
    height: 50vh;
  }
  #slider {
    margin-right: 135%;
  }

}

@media screen and (min-width: 1500px) {
  #slider img {
    height: 50vh;
  }
  #slider {
    margin-right: 53%;
  }

  .text_box {
    margin-left: 50%;
  }

  .gratis {
     font-size: 1rem;
     padding: 0px 300px;
  }

  @keyframes animate {
    from {
      opacity: 1;
      transform: translate3d(0vw, 0px, 0px);
    }
    to {
      opacity: 1;
      transition: all 1500ms linear;
      transform: translate3d(-50vw, 0px, 0px);
    }
  }
